@import './null.scss';

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;

   .logo {
      display: flex;
      align-items: flex-end;
      gap: 20px;

      img {
         height: 40px;
      }

      p {
         @include fontP(normal, 700, 24px, 29px);
      }
   }

   .menu {
      display: flex;
      gap: 20px;
      align-items: center;

      a {
         font-family: $font;
         @include fontP(normal, 700, 10px, 12px);
         text-transform: uppercase;
         color: $colorText;
         padding: 10px 5px;

         &:hover {
            color: $colorTextMain;
            @include fontP(bold, 700, 12px, 12px);
         }
      }
   }


   .profile {
      display: flex;
      gap: 20px;

      svg {
         height: 30px;
         fill: $colorText;
         padding: 20px 20px;

         &:hover {
            fill: $colorTextMain;
            stroke: $colorTextMain;

         }
      }
   }
}